.main-index {

  .slider {
    height: 610px;
    background-color: #e8e8e8;
  }

  .slider .container {
    height: inherit;
    display: flex;
    align-items: center;
    background-image: url("../images/index/slider_background_crop.jpg");
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
  }

  .slider__brand {
    height: 92px;
    border-left: 12px solid $redColor;
    padding-left: 12px;
    text-transform: uppercase;
  }

  .slider__brand__top {
    font-weight: 900;
    font-size: 60px;
    line-height: 41px;
  }

  .slider__brand__bottom {
    font-weight: 400;
    font-size: 40px;
    line-height: 32px;
    margin-top: 19px;
  }



  .categories {
    margin-top: 100px;
    display: flex;
    justify-content: space-evenly;

    &__left,
    &__right {
      display: flex;
      flex-direction: column;
    }

    &__left > div,
    &__right > div {
      position: relative;
    }

    &__men,
    &__women {
      margin-bottom: 20px;
    }

    .label {
      position: absolute;
      top: 25px;
      padding: 15px 20px;
      background: white;
      text-transform: uppercase;

        &__top {
          font-size: 18px;
          color: #222222;
          font-weight: 700;
        }

        &__bottom {
          font-size: 30px;
          color: $redColor;
          font-weight: 900;
        }
    }
  }

  .card:hover {
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
  }

  .card-title {
    font-size: 13px;
    line-height: 1.2;
    font-weight: 400;
    text-transform: uppercase;
    color: #6f6e6e;
  }

  .card-text{
    font-size: 16px;
    line-height: 1.2;
    font-weight: 700;
    color: #f16d7f;
  }



  .card-box {
    margin-top: 100px;
  }

  .card-box h2,
  .card-box h3 {
    text-align: center;
    letter-spacing: 0.025em;
  }

  .card-box h2 {
    font-size: 30px;
    line-height: 54px;
    font-weight: 700;
    color: #222222;

  }

  .card-box h3 {
    font-size: 14px;
    font-weight: 400;
    color: #9f9f9f;
    margin-bottom: 54px;
  }

  .card-row {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
  }

  .card {
    width: 261px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
  }

  .card:hover {
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
  }

  .card h4 {
    font-size: 13px;
    line-height: 1.2;
    font-weight: 400;
    color: #222222;
    margin: 20px 0 17px;
  }

  .card .price {
    font-size: 16px;
    line-height: 1.2;
    font-weight: 700;
    color: $redColor;
  }

  .card__content {
    padding-left: 16px;
  }

  .all-products-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 80px auto 112px;
  }

  .all-products-btn button {
    width: 212px;
    height: 48px;
    background-color: $redColor;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.025em;
    color: #ffffff;
    border: 0;
  }

  .feature-box {
    display: flex;
    flex-direction: row;
    height: 529px;
    margin-bottom: 140px;
  }

  .feature-box__banner {
    position: relative;
    height: inherit;
  }

  .feature-box__banner .label {
    position: absolute;
    top: 145px;
    left: 22px;
    background: transparent;
    text-transform: uppercase;
    font-size: 53.7px;
    line-height: 1.2;
    font-weight: 700;
    letter-spacing: 0.025em;
    color: #ffffff;
  }

  .feature-box__banner .top span {
    color: $redColor;
  }

  .feature-box__banner .bottom {
    font-size: 32.2px;
  }

  .feature-box__items {
    height: inherit;
    padding: 0 30px 0 38px;
    box-sizing: border-box;
    background-color: #222224;
    display: flex;
    flex-direction: column;
    letter-spacing: 0.025em;
  }

  .feature-box__items .item {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
  }

  .feature-box__items .item img {
    width: 45px;
    height: 32px;
  }

  .feature-box__items .item .item__content {
    margin-left: 30px;
  }

  .feature-box__items .item h4 {
    font-size: 20px;
    line-height: 1.2;
    font-weight: 700;
    color: #fbfbfb;
    margin-bottom: 18px;
  }

  .feature-box__items .item .item__text {
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    color: #fbfbfb;
  }

  @include media-breakpoint-down(xxl) {

    .categories__men,
    .categories__accesories {
      margin-right: 20px;
    }

    .feature-box__items .item {
      margin-top: 20px;
    }
  }

  @include media-breakpoint-down(xl) {

    .categories {

      .label {

        &__top {
          font-size: 14px;
        }

        &__bottom {
          font-size: 26px;
        }
      }
    }

    .slider__brand__top {
      font-size: 50px;
    }

    .slider__brand__bottom {
      font-size: 30px;
    }

    .feature-box {
      flex-direction: column;
      height: fit-content;
    }

    .feature-box__banner__image {
      width: 100% !important;
    }

    .feature-box__items {
      flex-direction: row;
      margin-top: -174px;
      background-color: #222224;
      opacity: 0.9;
      z-index: 2;
    }

    .feature-box__items .item {
      margin-top: 20px;
    }

  }

  @include media-breakpoint-down(lg) {

    .categories {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 60px;

        &__accesories{
          margin-bottom: 20px;
        }

        &__men,
        &__accesories {
          margin-right: 0;
        }

        &__left,
        &__right,
        &__left > div:not(.label),
        &__right > div:not(.label) {
          width: fit-content;
        }
    }

    .slider {
      height: 550px;
    }
    .slider__brand__top {
      font-size: 30px;
    }

    .slider__brand__bottom {
      font-size: 20px;
      margin-top: 5px;
    }

    .slider__brand {
      height: 72px;
    }

    .feature-box {
      margin-bottom: 70px;
    }

    .feature-box__banner .label{
      font-size: 33.7px;
      top: 100px;
    }

    .feature-box__items {
      padding: 0 10px;
      justify-content: space-between;
      margin-top: -170px;
    }

    .feature-box__items .item {
      margin-top: 10px;
    }

    .feature-box__items .item h4 {
      font-size: 16px;
      margin-bottom: 5px;
    }

  }

  @include media-breakpoint-down(md) {

    .slider {
      height: 475px;
    }

    .feature-box__items {
      padding: 0 10px;
      justify-content: space-between;
      margin-top: 0;
      z-index: unset;
    }

    .all-products-btn {
      margin: 40px auto 66px;
    }
  }

  @include media-breakpoint-down(sm) {

    .slider {
      height: 375px;
    }

    .feature-box__banner .label{
      font-size: 19.7px;
      top: 50px;
      left: 10px;
    }

    .feature-box__banner .bottom {
      font-size: 20.2px;
    }

    .feature-box__items {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .feature-box__items .item .item__text {
      font-size: 12px;
      line-height: 18px;
    }

    .feature-box__items .item img {
      width: 37px;
      height: 29px;
    }

  }

  @media (max-width: 520px){

    .categories
      .label {
        padding: 15px 5px;

      &__top {
          font-size: 10px;
        }

        &__bottom {
          font-size: 18px;
        }
      }

    .slider {
      height: 325px;
    }
    .slider__brand__top {
      font-size: 20px;
      line-height: 16px;
    }

    .slider__brand__bottom {
      font-size: 15px;
      line-height: 0;
      margin-top: 20px;
    }

    .slider__brand {
      height: 44px;
      border-left: 6px solid #ef5b70;
    }

    @media (max-width: 520px){
      .slider {
        height: 250px;
      }
    }

    @media (max-width: 400px){
      .slider {
        height: 200px;
      }

      .slider__brand__top {
        font-size: 17px;
      }

      .slider__brand__bottom {
        font-size: 12px;
      }

    }

    @media (max-width: 360px){
      .slider {
        height: 200px;
      }
    }
  }

}